<h1>Bands</h1>

<%
  content_for :navbar do
    %><li><%= link_to "Add band", new_band_url %></i><%
  end
%>

<ul>
<% @bands.each do |band|
  %><li><%
    %><%= render band %><%
  %></li><%
end %>
</ul>
