<h1>Bands#index</h1>

<ul>
<% @bands.each do |band|
  %><li><%
    %><%= band.name %><%

    %><ul><%
      band.albums.each do |album|
        %><li><%
          %><%= album.name %><%

          %><ul><%
            album.tracks.each do |track|
              %><li><%= track.name %></li><%
            end
          %></ul><%
        %></li><%
      end
    %></ul><%
  %></li><%
end %>
</ul>
